# Agenda: Day 2

1. Recap and Q&A
2. Dtypes and `NaN`
3. Data frames (2D data)
    - Creating data frames
    - Retrieving rows
    - Retrieving columns
    - Naming the index and the columns
4. Adding and removing data
5. Useful methods and attributes
6. Boolean indexes
7. Querying with `.loc`
    - Row selectors
    - Column selectors
    - Assigning via `.loc`
8. Reading CSV data

# Recap

- Pandas is for reading, writing, manipulating, cleaning, and analyzing data
- Last time, we talked about the *Series*
- A series contains a bunch of values, all of the same type
- Retrieve from a series using `.loc` (by index) or `.iloc` (by position)
- We can set the index either when we create the series or assign a new value
- We can retrieve using a mask index via a boolean series
- Most operations performed on two series happen via the index
- If we have a series and a scalar value, the operation is "broadcast" to every element of the series

In [1]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

In [2]:
s = Series([10, 20, 30, 40, 45, 50, 60, 70])

In [3]:
s

0    10
1    20
2    30
3    40
4    45
5    50
6    60
7    70
dtype: int64

In [4]:
s.loc[4]

45

In [5]:
s.loc[[4, 6]]   # fancy indexing

4    45
6    60
dtype: int64

In [6]:
s = Series([10, 20, 30, 40, 45, 50, 60, 70],
          index=list('abcdefgh'))

In [7]:
s

a    10
b    20
c    30
d    40
e    45
f    50
g    60
h    70
dtype: int64

In [8]:
s.loc['d']

40

In [9]:
s.loc[['d', 'f']]

d    40
f    50
dtype: int64

In [10]:
# we can retrieve via the position using .iloc
s.iloc[4]

45

In [11]:
s.iloc[[4, 6]]

e    45
g    60
dtype: int64

In [12]:
s + s    # two series, thus operations are performed by the index

a     20
b     40
c     60
d     80
e     90
f    100
g    120
h    140
dtype: int64

In [13]:
# broadcasting

s + 4

a    14
b    24
c    34
d    44
e    49
f    54
g    64
h    74
dtype: int64

In [14]:
# we can run comparison operations via broadcast, and get a True/False value for each index

s < 50

a     True
b     True
c     True
d     True
e     True
f    False
g    False
h    False
dtype: bool

In [15]:
# if we have a boolean series, we can apply it with .loc
# this returns only those elements of the series for which our booleans are True

s.loc[s<50]

a    10
b    20
c    30
d    40
e    45
dtype: int64

In [16]:
(s<50).value_counts()

True     5
False    3
dtype: int64

In [17]:
s.describe()

count     8.000000
mean     40.625000
std      20.077973
min      10.000000
25%      27.500000
50%      42.500000
75%      52.500000
max      70.000000
dtype: float64

# Dtypes

If you're a Python programmer, then you might have wondered what the difference is between a "list" and an "array."  In the case of an array, (a) the length is known when it's created and (b) all of the elements are of the same type.

Python lists don't have either of these restrictions! 

Pandas series can be changed in length, so they aren't arrays, either. But they are more similar to arrays, in that all of the elements must be of the same type.

In [18]:
s = Series([10, 20, 30, 40, 50])
s

0    10
1    20
2    30
3    40
4    50
dtype: int64

# `dtype`

Every series has a `dtype`, describing what kind of data is in the series. The `dtype` is typically *not* a Python type, but is a special type based on the NumPy library, which is based in the C language.

In Python, we have integers. But in C, we have integers of different sizes.  The `dtype` allows us to specify how mnay bits we want to give to each integer. If we don't have integer data, then we have to specify that, too.

In [19]:
# 64 bits == 8 bytes

In [20]:
s = Series([10, 20, 30.5, 40, 50])   # notice, one number is *not* an integer
s

0    10.0
1    20.0
2    30.5
3    40.0
4    50.0
dtype: float64

# What `dtypes` exist? How can I set it?

Dtypes are all defined in `numpy`, which you can import as 

    import numpy as np
    
Then you can use the following types:

- Integers (ints)
    - `np.int8`
    - `np.int16`
    - `np.int32`
    - `np.int64`  (default if you give integer data)
- Floats 
    - `np.float16`
    - `np.float32`
    - `np.float64` (default if you give float data)
    - `np.float128`
- Unsigned ints
    - `np.uint8`
    - `np.uint16`
    - `np.uint32`
    - `np.uint64`
- `object` (Python objects -- default if you have strings)

In [21]:
# when I create a new series, I can tell Pandas what dtypes to use

s = Series([10, 20, 30, 40, 50])
s.dtype  # we can get the dtype with this attribute

dtype('int64')

In [22]:
s = Series([10, 20, 30, 40, 50], 
          dtype=np.float128)

s.dtype  # we can get the dtype with this attribute

dtype('float128')

In [23]:
s

0    10.0
1    20.0
2    30.0
3    40.0
4    50.0
dtype: float128

In [24]:
s.loc[2] = 345   # set a value in our series

In [25]:
s

0     10.0
1     20.0
2    345.0
3     40.0
4     50.0
dtype: float128

In [26]:
# what happens if we assign a value that doesn't match the dtype?

s = Series([10, 20, 30, 40, 50])   # dtype will be the default, np.int64
s

0    10
1    20
2    30
3    40
4    50
dtype: int64

In [27]:
s.loc[2] = 12.34

In [28]:
s

0    10.00
1    20.00
2    12.34
3    40.00
4    50.00
dtype: float64

In [29]:
# how can I change a series from one dtype to another?
# you *cannot* assign to the dtype attribute

s.dtype = np.int64

AttributeError: property 'dtype' of 'Series' object has no setter

In [30]:
# you can use the .astype method to get a new series back,
# based on your current series, with a new type

s.astype(np.int64)  # anything after a decimal point was lost

0    10
1    20
2    12
3    40
4    50
dtype: int64